
.footbar {
    background-color: rgb(20, 20, 63);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center
    
}
.footbarMenu{
    color:white;
    margin: 20px;
    text-decoration: none;
}