.navbarMenu #umcmovie {
    margin-right: 0%; /* 우측 마진을 auto로 설정하여 왼쪽 끝으로 이동 */
}
.navbar {
    width: 100%;
    background-color: rgb(20, 20, 63);
    padding: 15px 0px 15px 0px;
    text-align: right;
    margin-right: 0%; /* 우측 마진을 auto로 설정하여 왼쪽 끝으로 이동 */
}
.navbarMenu{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: font-size 0.2s;
    
}
.navbarMenu:hover{
    font-size : 20px;
}
.navbarMenu.clicked {
    color: yellow; /* 클릭 시 글자 색 노란색으로 변경 */
}