body{
    background-color: #22254b;
}
.movie-container {
    width: 250px;  
    margin : 16px;
    color: white;
    border-radius: 5px;  
}
.movie-container img{
    max-width: 100%;
}
.movie-container h4{
    color: white;
}
.movie-container span {
    color: white;
}
.app-container{
    display: flex;
    flex-wrap: wrap;
}
.pagination {
    margin-bottom: 100px;
}